.root {
    position: relative;
    left: -120px;

    input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 12px 20px 12px 42px;
        width: 400px;
        border-radius: 10px;
        font-size: 16px;
        transition: all .15s ease-in-out;

        &:focus {
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

    .icon {
        width: 22px;
        height: 22px;
        opacity: .3;
        position: absolute;
        left: 14px;
        top: 12px;
    }

    .clearIcon {
        width: 18px;
        height: 18px;
        opacity: .3;
        position: absolute;
        right: 15px;
        top: 15px;

        &:hover {
            opacity: .8;
            cursor: pointer;
        }
    }
}